/* ----- Header ----- */
.header-wrap {
  float: right;
}

@media (max-width: 991px) {
    .header-wrap {
      /* float: none; */
    }
}

/* ----- Navbar Sidebar ----- */
.navbar-sidebar {
    padding-top: 20px;
}

/* ----- Rating ----- */
.gold {
  color: #ffbf45;
}

/* ----- Warna ----- */
.white {
  color: #fff;
}

/* ----- Update Button ----- */
.btn-pencil {
  padding-right: .52rem;
}

td .btn-warning {
  padding-right: .52rem;
}

td .btn-warning i {
  color: white;
}

/* ----- Form ----- */
.flex {
  display: flex;
}


/* ----- General ----- */
.bg-head {
	background-color: rgba(170, 192, 171, 0.5);
	color: white;
}
.bg-gradient {
	background: linear-gradient(to bottom right, rgb(2,124, 161)0%, rgb(149, 169, 18)100%);
	height: 100%;
	color: white;
}
thead.bg-head {
	background-color: #0f8094!important;
    color: white!important;
  }
.pill {
	border-radius: 26px;
}
.btn-light {
    border-color: transparent!important;
}
.form-control {
	height: 45px;
	border: none;
	background: #f7f7f7;
	width: 100%;
	padding: 0 25px;
	border-radius: 23px;
	color: #333;
}
.form-group {
    display: flex;
}

/* ----- Select2 ----- */

.select2-container {
    width: 100% !important;
}
.select2-selection {
    height: 44px !important;
    padding-top: 8.1px !important;
    padding-left: 7px;
}
.select2-selection__arrow {
    margin-top: 8px !important;
    margin-right: 4px !important;
}
textarea {
    padding-top: 5px !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
