<p><strong>Selesaikan pembayaran Anda sebelum Hari, t bul tahun jam(hh:mm)</strong></p>

Registrasi Pendakian Gunung Ciremai via jalur <strong>${nameRegion}</strong>

<table style="width: 100%; margin-right: calc(36%);">
  <tbody>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Tanggal Berangkat<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${startDate}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Tanggal Pulang<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${endDate}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Jumlah Pendaki<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${countTicket}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Penanggung Jawab<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${fullName}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Transit Camp<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${nameTransitCamp}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Nomor Kapling<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${codeUnique}<br>
      </td>
    </tr>
    
  </tbody>
</table>
<hr/>
<p>Yth. Kayum Munajir,</p>
<strong>Mohon transfer ke</strong>

<table style="width: 100%; margin-right: calc(36%);">
  <tbody>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        BRI<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        -<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Kode Bank<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        003<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Nomor Rekening<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        013301000669304<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Nama Penerima<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        BPN 147 BTNGC Kuningan<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Jumlah Transfer<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        IDR40,000<br>
      </td>
    </tr>
    <tr style="background-color:orange">
      <td colspan="3" style="width: 100%; vertical-align: top; text-align: left;">
        PENTING! Harap mencantumkan kode #INV419SIM pada berita transfer agar booking anda cepet terkonfirmasi.<br>
      </td>
    </tr>
    
  </tbody>
</table>
<hr/>
<p>Anda sudah membayar?</p>
<div>Setelah pembayaran Anda dikonfirmasi, kami akan mengirim voucher aktifitas ke alamat email Anda.</div>
<p><a href="#">Saya Sudah Bayar</a></p>
<hr/>
<p>
  <br>
</p>

<p><strong>Catatan</strong>:</p>

<p>Email ini dikirim oleh sistem secara otomatis dan tidak untuk dibalas, terimakasih.</p>
