<p>Registrasi Pendakian Gunung Halimun Salak via jalur <strong>${nameRegion}</strong></p>

<table style="width: 100%; margin-right: calc(36%);">
  <tbody>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Tanggal Berangkat<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${startDate}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Tanggal Pulang<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${endDate}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Jumlah Pendaki<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${countTicket}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Penanggung Jawab<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${fullName}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Kode Booking<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${codeBooking}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Transit Camp<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${nameTransitCamp}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Nomor Kapling<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${codeUnique}<br>
      </td>
    </tr>
    
  </tbody>
</table>
<br/>
<hr/>
<div><strong>Untuk mengkonfirmasi mohon kunjungi link berikut :</strong></div>
<div><a href="${linkPurchase}">${linkPurchase}</a></div>
<p>
  <br>
</p>
