<table style="width:100%;margin-right:calc(36%);padding-top: 30px;padding-bottom: 30px;background: #e6eaed;">
	<tbody>
	<tr>
	<td style="width:12.1552%;vertical-align:top;text-align:left"><br></td>
	<td style="width:75.1372%;vertical-align:top;text-align:left;background: white;padding: 30px;">
		<p><strong>Selesaikan pembayaran Anda sebelum ${expiredDate}</strong></p>
		Registrasi Pendakian Gunung Ciremai via jalur <strong>${nameRegion}</strong>
		<table style="width:100%;margin-right:calc(36%)">
		<tbody>
			<tr>  
			   <td style="width:18.8628%;vertical-align:top;text-align:left">Tanggal Berangkat<br></td>
			   <td style="width:81.1372%;vertical-align:top;text-align:left">: ${startDate}<br></td>
			</tr>
			    
			<tr>
			   <td style="width:18.8628%;vertical-align:top;text-align:left">Tanggal Pulang<br></td>
			   <td style="width:81.1372%;vertical-align:top;text-align:left">: ${endDate}<br></td>
			</tr>
			    
			<tr>
			   <td style="width:18.8628%;vertical-align:top;text-align:left">Jumlah Pendaki<br></td>
			   <td style="width:81.1372%;vertical-align:top;text-align:left">: ${countTicket}<br></td>
			</tr>
			    
			<tr>
			   <td style="width:18.8628%;vertical-align:top;text-align:left">Penanggung Jawab<br></td>
			   <td style="width:81.1372%;vertical-align:top;text-align:left">: ${fullName}<br></td>
			</tr>
			    
			<tr>
			   <td style="width:18.8628%;vertical-align:top;text-align:left">Transit Camp<br></td>
			   <td style="width:81.1372%;vertical-align:top;text-align:left">: ${nameTransitCamp}<br></td>
			</tr>
			    
			<tr>   
			   <td style="width:18.8628%;vertical-align:top;text-align:left">Nomor Kapling<br></td>
			   <td style="width:81.1372%;vertical-align:top;text-align:left">: ${codeUnique}<br></td>
			</tr>
		</tbody>
		</table>
		
		<hr>
		
		<div>Yth. ${fullName},</div>
		<strong>Mohon transfer ke</strong>
		
		<table style="width:100%;margin-right:calc(36%)">  
		<tbody>
		  <tr>
		    <td style="width:16.1552%;vertical-align:top;text-align:left">Nama Bank<br></td>
		    <td style="width:2.7076%;vertical-align:top;text-align:left"><br></td>
		    <td style="width:81.1372%;vertical-align:top;text-align:left">: ${nameBank}<br></td>
		  </tr>
		  
		  <tr>
		    <td style="width:16.1552%;vertical-align:top;text-align:left">Kode Pembayaran<br></td>
		    <td style="width:2.7076%;vertical-align:top;text-align:left"><br></td>
		    <td style="width:81.1372%;vertical-align:top;text-align:left">: ${accountNumberBank}<br></td>
		  </tr>
		      
		  <tr>
		    <td style="width:16.1552%;vertical-align:top;text-align:left">Nama Penerima<br></td>
		    <td style="width:2.7076%;vertical-align:top;text-align:left"><br></td>
		    <td style="width:81.1372%;vertical-align:top;text-align:left">: ${accountHolderName}<br></td>
		  </tr>
		      
		  <tr>
		    <td style="width:16.1552%;vertical-align:top;text-align:left">Jumlah Transfer<br></td>
		    <td style="width:2.7076%;vertical-align:top;text-align:left"><br></td>
		    <td style="width:81.1372%;vertical-align:top;text-align:left">: ${totalAmount}<br></td>
		  </tr>
		      
		  <tr>
		    <td style="width:16.1552%;vertical-align:top;text-align:left">Tanggal Kadaluarsa<br></td>
		    <td style="width:2.7076%;vertical-align:top;text-align:left"><br></td>
		    <td style="width:81.1372%;vertical-align:top;text-align:left">: ${expiredDate}<br></td>
		  </tr>
		    
		</tbody>
		</table>
		<hr>
		
		<p>Setelah pembayaran Anda dikonfirmasi, kami akan mengirim voucher aktifitas ke alamat email Anda.</p>
		
		<hr>
		
		<p><br/></p>

		<p><strong>Catatan</strong>:</p>
		
		<p>Email ini dikirim oleh sistem secara otomatis dan tidak untuk dibalas, terimakasih.</p><div class="yj6qo"></div><div class="adL">
		</div>
	</td>
	<td style="width:12.7076%;vertical-align:top;text-align:left"><br></td>
	</tr>
	</tbody>
</table>