<p><strong>Selamat Pembayaran Anda Berhasil</strong></p>
Registrasi Pendakian Gunung Halimun Salak via jalur <strong>${nameRegion}</strong>

<table style="width: 100%; margin-right: calc(36%);">
  <tbody>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Tanggal Berangkat<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${startDate}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Tanggal Pulang<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${endDate}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Jumlah Pendaki<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${countTicket}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Penanggung Jawab<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${fullName}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Kode Booking<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${codeBooking}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Transit Camp<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${nameTransitCamp}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Jam Wajib Lapor di BC<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${reportTime}<br>
      </td>
    </tr>
    <tr>
      <td style="width: 16.1552%; vertical-align: top; text-align: left;">
        Nomor Kapling<br>
      </td>
      <td style="width: 2.7076%; vertical-align: top; text-align: left;">:<br></td>
      <td style="width: 81.1372%; vertical-align: top; text-align: left;">
        ${codeUnique}<br>
      </td>
    </tr>
    
  </tbody>
</table>

<hr/>
${templateEmailAttention}
<!-- <div><strong>Perlu diperhatikan:</strong></div>
<div>1. Harap melapor pada <strong>BASE CAMP</strong> jalur pendakian pukul <strong>${reportTime}</strong> apabila melibihi waktu pendakian tidak diijinkan untuk naik.</div>
<div>2. Siapkan surat keterangan sehat dari dokter <strong>pada hari melakuan pendakian</strong> baik dari puskesmes maupun klinik, pada basecamp juga disediakan jasa pemeriksaan kesehatan.</div> -->
<p>
<hr/>
</p>
<p><strong>Catatan</strong>:</p>

<p>Email ini dikirim oleh sistem secara otomatis dan tidak untuk dibalas, terimakasih.</p>
