.terlampir {
	font-size: 22px;
	padding-left: 190px;
	padding-top: 120px;
}
table {
	width:100%;
    margin-bottom: 0.4pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-indent: 0;
}
tr {
    vertical-align: inherit;
}
table > tr {
    vertical-align: middle;
}
td {
	font-size:11pt;
    padding: 1px;
    text-align: inherit;
    vertical-align: inherit;
}
div {
    border: 1px solid black;
    white-space:nowrap;
    overflow:hidden;
}
.td0 {
	height: 10px; 
}
.td1 {
	width: 3;
}
.td2 {
	width: 29;
}
.td3 {
	width: 31.5;
}
.td4 {
	width: 16.6;
}
.td5 {
	width: 22.8;
}

.div1 {
	padding: 10 0 0  0; 
	text-align: center;
}
.div2 {
	padding: 10 0 0 10;
}
.div3 {
	padding: 10 0 0 10;
}
.div4 {
	padding: 10 0 0 7;
}
.div5 {
	padding: 10 0 0 10;
}