.title { color: #008080 }
.country { color: #5f9ea0 }
.column1 { width:10%; text-align: center; }
.column2 { width:75%; }
.column3 { width:15%; }

p {
    font-size: 32pt;
    margin: 1em 0;
}
h1 {
    font-size: 60pt;
    font-weight: bold;
    margin: 0.67em 0;
}
table {
	width:100%;
    margin-bottom: 0.4pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-indent: 0;
}
tr {
    vertical-align: inherit;
}
table > tr {
    vertical-align: middle;
}
td {
	/*background-color:#F7F7F7;*/
	/*padding-left: 15px;*/
	font-size:11pt;
    padding: 1px;
    text-align: inherit;
    vertical-align: inherit;
}
div {
    border: 1px solid black;
    white-space:nowrap;
    overflow:hidden;
}
.td0 {
	height: 4px; 
}
.td1 {
	width: 3;
}
.td2 {
	width: 40;
}
.td3 {
	width: 40;
}
.td4 {
	width: 23;
}
.td5 {
	width: 32;
}

.div1 {
	padding: 11 0 0  0;
	text-align: center;
}
.div2 {
	padding: 11 0 0 10;
}
.div3 {
	padding: 11 0 0 5;
}
.div4 {
	padding: 11 0 0 10;
}
.div5 {
	padding: 11 0 0 10;
}