.title { color: #008080 }
.country { color: #5f9ea0 }
.column1 { width:10%; text-align: center; }
.column2 { width:75%; }
.column3 { width:15%; }

p {
    font-size: 32pt;
    margin: 1em 0;
}
h1 {
    font-size: 60pt;
    font-weight: bold;
    margin: 0.67em 0;
}
table {
	width:100%;
    margin-bottom: 0.4pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-indent: 0;
}
tr {
    vertical-align: inherit;
}
table > tr {
    vertical-align: middle;
}
td {
	/*background-color:#F7F7F7;*/
	/*padding-left: 15px;*/
	font-size:11pt;
    padding: 1px;
    text-align: inherit;
    vertical-align: inherit;
}
th {
	background-color: #0f8094!important;
	/*font-size:24pt;*/
	color:#FFFFFF;
    /*display: table-cell;*/
    font-weight: bold;
    padding: 1px;
    vertical-align: inherit;
}
/* th {
	background-color: #5f9ea0;
	font-size:24pt;
	color:#FFFFFF;
    display: table-cell;
    font-weight: bold;
    padding: 1px;
    vertical-align: inherit;
} */
div {
    border: 1px solid black;
    white-space:nowrap;
    overflow:hidden;
}
.myTable { border-collapse:collapse; border-top:1px solid #000!important; border-right:1px solid #000!important;}
.myTable th { background-color:#000;color:white; }
.myTable td, .myTable th { padding:5px;border-top:0px solid #000; border-bottom:1px solid #000; border-right:0px solid #000; border-left:1px solid #000;}

.td1 {
	width: 1;
}
.td2 {
	width: 35;
}
.td3 {
	width: 2;
}
.td4 {
	width: 2;
}
.td5 {
	width: 12;
}
.td6 {
	width: 22;
}

.div1 {
	padding: 10 0 0  0; 
	text-align: center;
}
.div2 {
	padding: 10 0 0 0;
}
.div3 {
	padding: 10 0 0 0;
	text-align: center;
}
.div4 {
	padding: 10 0 0 10;
}
.div5 {
	padding: 10 0 0 10;
}